<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST">
    <p>
      Szeme színe: <input type="text" name="szem_szin">
    </p>
    <p>
      Súlya: <input type="number" name="suly">
    </p>
    <p>
      <input type="submit" value="Hozzáad">
    </p>
  </form>
  <a href="/">
    <button>Vissza</button>
  </a>
</body>
</html>
